.contact-form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form {
    color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 5px;
}

.send-btn {
    width: 100%;
}

.contact-title {
    text-align: center;
    width: 100%;
    color: white;
    font-family: cyrMedium, Roboto, "sans-serif";
}

@media screen and (min-width: 700px) {
    .contact-form {
        width: 60%;
    }
}
