.downloadables-wrapper {
    border: 30px solid var(--bean);
    width: 100%;
    color: white;
}

.doc-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: var(--bole);
}

.download-text {
    cursor: pointer;
}
.download-text:hover {
    color: rgb(176, 176, 176);
}
