.card-wrapper {
  margin-top: 30px;
  border: none;
  border-radius: 15px;
  padding: 25px;
  background-color: var(--bole);
}

.card-img-wrapper > img {
  border-radius: 10px;
}
.card-img-wrapper > a > img {
  border-radius: 10px;
}

.a-link {
  display: flex;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.project-link-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 12pt;
  padding-top: 10px;

}

.project-info-wrapper {
  color: white;
  padding: 10px;
  background-color: var(--bole);
  font-size: 14pt;
}

.back-btn {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: var(--buff);
}

.back-btn:hover {
  background-color: #c69476;

}