.card-wrapper {
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    padding: 25px;
    background-color: var(--bole);
}

.card-img-wrapper > img {
    border-radius: 10px;
}
.card-img-wrapper > a > img {
    border-radius: 10px;
}

.a-link {
    display: flex;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: gray;
}

.project-link-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

.project-link-wrapper div:hover {
    color: rgb(171, 171, 171);
    text-decoration: underline;
}
.project-info-wrapper {
    color: white;
    padding-top: 5px;
    background-color: var(--bole);
}

.back-btn {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--buff);
}

.back-btn:hover {
    background-color: #c69476;
}
