:root {
  --darkpurple: #3B1F2B;
  --candyapplered: #DB162F;
  --palespring: #DBDFAC; 
  --slategray: #5F758E;
  --spacecadet: #383961;

}



body {
  color: var( --darkpurple);
}

.navwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18pt;
  background-color: var(--candyapplered);
}

a {
  text-decoration: none;
  color: var(  --palespring);

}

.contactwrapper {
}

a:hover{
color: var(--slategray);
}

.navname {
padding: 5px;
}

.navlinks {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  
}

.navlink {
  padding: 5px;
}